<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fact Check</title>
    </head>

    <body>
        <header>
            <div id="logo">
                <img src="/images/logo.png" alt="logo picture">
            </div>
            <div>
                <h1> <span class="white">BIAS</span> <span class="gold">CHECK</span></h1>
            </div>
            <div id="about">
                <h2> <span class="white">About us</span></h2>
            </div>
        </header>

        <main>
            <section>
                <form class="form-container">
                    <textarea id="name" type="text" name="input" value="" placeholder="Leave your text here to check" maxlength="500"></textarea>
                    <input id="submit" type="submit" value="submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
