body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

main {
    flex: 1;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
