header {
    grid-area: hd;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 40px;
    display: flex;
}

#logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

h1 {
    letter-spacing: 2px;
    font-family:'Times New Roman', Times, serif;
    .white {
        font-size: 40px;
        color: white;
        margin-right: 5px;
    }

    .gold {
        font-size: 25px;
        color: gold;
    }    
}

a {
    text-decoration: none;
    .white {
        font-size: 20px;
        color: white;
        margin-right: 15px;
    }
}



