header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

#logo {
    //I think something wrong with this img link
    background: url("../images/logo.png");
    background-size: cover;
}
